
nav {
  margin: 27px auto 0;

  position: relative;
  width: 45vw;
  height: 50px;
  background-color: #273469;
  border-radius: 8px;
  font-size: 0;
  justify-content: space-around;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 10vw;
}
a:nth-child(2) {
  width: 11vw;
}
a:nth-child(3) {
  width: 13vw;
}
a:nth-child(4) {
  width: 11vw;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 10vw;
  left: 0;
  background-color: #8687B4;
  color: white;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 11vw;
  left: 10vw;
  background-color: #8687B4;
}
nav .start-portefolio, a:nth-child(3):hover~.animation {
  width: 13vw;
  left: 21vw;
  background-color: #8687B4;
}
nav .start-contact, a:nth-child(4):hover~.animation {
  width: 11vw;
  left: 34vw;
  background-color: #8687B4;
}


.PH {
    width: 100%;
    margin: 0;
    height: 702px;
  }
  .PH-content {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .PH-image {
  }
  .PH-title {
    color: #fff;
    font-family: "Libre Baskerville";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0; /* Remove padding-top and use margin to center vertically */
  }
  
  .PH-desc {
    color: #fff;
    width: 80%; /* Adjust the width as needed */
    max-width: 661px; /* Set a maximum width if necessary */
    margin-top: 10px; /* Add margin-top for spacing */
    font-family: Mulish;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .page-body {
    display: flex;
    flex-direction: column;
  }
  
  .section {
    width: 100%; /* Change to a larger width if necessary */
    max-width: 936px; /* Add max-width to limit the width */
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px; /* Add padding to create space around the content */
    box-sizing: border-box;
  }
  
  .section-title {
    color: #030303;
    font-family: "Libre Baskerville";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .section-body {
    color: #030303;
    font-family: "Libre Baskerville";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .side-by-side {
    width: 969px;
    display: flex;
    flex-direction: row;
    padding-top: 4%;
  }
  
  .sbs-container {
    width: 264px;
    border-radius: 10px;
    background: #ffe5fb;
    margin-right: 3%;
  }
  
  .sbs-left {
    margin: 0;
    display: flex;
    width: 264px;
    color: #000;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  
  .sbs-right {
    margin-top: 0;
    color: #030303;
    width: 657px;
    font-family: "Libre Baskerville";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .three-grid {
    display: flex;
    flex-direction: row;
    max-width: 936px;
    justify-content: center;
    margin: auto;
  }
  
  .three-grid-sec {
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-right: 1%;
  }